<button class="btn btn-primary btn-lg btn-block" routerLinkActive="active" routerLink="peopletech">People
  involved</button>

<button type="button" class="btn btn-secondary btn-lg btn-block" routerLinkActive="active" routerLink="peopletech">Data
  Sources</button>

<button type="button" class="btn btn-primary btn-lg btn-block" routerLinkActive="active" routerLink="bcproofs">Proofs
  Used</button>

<button type="button" class="btn btn-secondary btn-lg btn-block" routerLinkActive="active" routerLink="monstakes">Money
  Stake</button>

<router-outlet></router-outlet>