<ul class="nav nav-tabs nav-fill mb-2">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="summary">Summary</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="bcproofs">Blockchain Proofs</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="peopletech">People & Technology</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="monstakes">Money & Stakes</a>
  </li>
</ul>
<router-outlet></router-outlet>